.DS_Store 
/target
Cargo.lock
a.cpp
b.cpp
c.cpp
d.cpp
e.cpp
f.cpp
g.cpp
h.cpp
a.o
b.o
c.o
d.o
e.o
f.o
g.o
h.o
a.exe
b.exe
c.exe
d.exe
e.exe
f.exe
g.exe
h.exe
a.o.dSYM
b.o.dSYM
c.o.dSYM
d.o.dSYM
e.o.dSYM
f.o.dSYM
g.o.dSYM
h.o.dSYM
*a.out
solver.cpp
solver.o
judge.cpp 
judge.o
main.o
make_test.cpp
make_test.o
input.txt
output.txt
ans.txt
main.cpp
score_calc.cpp
/.vscode/procon.code-snippets
/atcoder
/venv
/tools
/result
/test
/testa
/testb
/testc 
/testd 
/teste 
/testf
/testg 
/testh 
